# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
*.egg-info/
dist/
build/

# --- Virtual Environment ---
.venv/
venv/
env/
ENV/

# --- Environment Variables & Secrets ---
.env
.flaskenv

# --- OS Specific ---
.DS_Store
Thumbs.db

